<!-- sidebar @s -->
<?php
$url = $_SERVER['REQUEST_URI'];
$urlParts = explode('/', str_ireplace(array('http://', 'https://'), '', $url));
$lang = $urlParts[1];
?>
<div class="nk-sidebar nk-sidebar-fixed " data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand">
            <a href="/<?php echo $lang; ?>" class="logo-link nk-sidebar-logo">
                <img class="logo-dark logo-img" src="/static/cabinet5/images/logo-dark.png" srcset="/static/cabinet5/images/logo-dark2x.png 2x" alt="logo-dark">
            </a>
        </div>
        <div class="nk-menu-trigger mr-n2">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
        </div>
    </div><!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-body" data-simplebar>
            <div class="nk-sidebar-content">
                <div class="nk-sidebar-menu">
                    <ul class="nk-menu">
                        <!-- <li class="nk-menu-heading">
                            <h6 class="overline-title text-primary-alt">Меню Арендадателя</h6>
                        </li> -->
                        <!-- .nk-menu-item -->
                        <!-- <li class="nk-menu-item">
                            <a href="/<?php echo $lang; ?>/cabinet.analytics" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-growth"></em></span>
                                <span class="nk-menu-text">Аналитика</span>
                            </a>
                        </li> -->
                        <!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
                                <span class="nk-menu-text">Финансы</span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="/<?php echo $lang; ?>/cabinet.balance" class="nk-menu-link"><span class="nk-menu-text">Мой Счет</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="/<?php echo $lang; ?>/cabinet.transactions" class="nk-menu-link"><span class="nk-menu-text">Транзакции</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">
                            <a href="/<?php echo $lang; ?>/cabinet.reservations" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
                                <span class="nk-menu-text">Резервации</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="/<?php echo $lang; ?>/cabinet.listings" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-notice"></em></span>
                                <span class="nk-menu-text">Управление жильем</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="/<?php echo $lang; ?>/cabinet.subscriptions" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-notice"></em></span>
                                <span class="nk-menu-text">Интеграция систем</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="/<?php echo $lang; ?>/cabinet.profile" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-notice"></em></span>
                                <span class="nk-menu-text">Настройки аккаунта</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                    </ul><!-- .nk-menu -->
                </div><!-- .nk-sidebar-menu -->
            </div><!-- .nk-sidebar-content -->
        </div><!-- .nk-sidebar-body -->
    </div><!-- .nk-sidebar-element -->
</div>
<!-- sidebar @e -->