<div class="right__content">
<div class="payment__form">
                        <div class="payment__form-content">
                            <ul class="payment__form-ul">
                                <li class="payment__form-li text-16">
                                    <div class="counts">
                                        <a class="counts-item res_PropertyTypeTitle">
                                            <!-- <a class="res_PropertyTypeTitle" href="c_bookings"></a> -->
                                        </a>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <a class="counts-item res_SleepingArrangementTitle">
                                            <!-- <a class="res_SleepingArrangementTitle" href="/ru/c_personalinfo"></a> -->
                                        </a>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <a class="counts-item res_PalceLocationTitle">
                                            <!-- <a class="res_PalceLocationTitle" href="/ru/c_messages"></a> -->
                                        </a>   
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <a class="counts-item res_AmenitiesTitle">
                                            <!-- <a class="res_AmenitiesTitle" href="c_finances"></a> -->
                                        </a>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <a class="counts-item res_RequirementsReviewTitle">
                                            <!-- <a class="res_RequirementsReviewTitle" href="c_myaccount"></a> -->
                                        </a>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <a class="counts-item res_HomeRulesTitle">
                                            <!-- <a class="res_HomeRulesTitle" href="c_managelistings"></a> -->
                                        </a>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <a class="counts-item res_RequestWindowTitle">
                                            <!-- <a class="res_RequestWindowTitle" href="c_reservationrequests"></a> -->
                                        </a>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <a class="counts-item res_PriceSpaceTitle">
                                            <!-- <a class="res_PriceSpaceTitle" href="c_reservationrequests"></a> -->
                                        </a>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <a class="counts-item res_DragFilesToUpload">
                                            <!-- <a class="res_DragFilesToUpload" href="c_reservationrequests"></a> -->
                                        </a>
                                    </div>
                                </li>
                                </ul>
                        </div>
                    </div>
                </div>
