<footer class="footer footer_v2">
    <div class="container_v2">
      <div class="footer-top">
        <ul class="col">
          <li class="footer-main"><span class="res_Company"></span></li>
          <li class="footer-item"><a class="footer-link" href="https://help.rentxx.com/<?php echo $lang; ?>/company/o-nas"><span class="res_About"></span></a></li>
          <li class="footer-item"><a class="footer-link" href="https://help.rentxx.com/<?php echo $lang; ?>/company/investoram"><span class="res_Invest"></span></a></li>
          <li class="footer-item"><a class="footer-link" href="https://help.rentxx.com/<?php echo $lang; ?>/company/vakansii"><span class="res_Careers"></span></a></li>
        </ul>
        <ul class="col">
          <li class="footer-main"><span class="res_Host"></span></li>
          <li class="footer-item"><a class="footer-link" href="https://help.rentxx.com/<?php echo $lang; ?>/arendodatelyam/usloviya-razmesheniya"><span class="res_HostRules"></span></a></li>
          <li class="footer-item"><a class="footer-link" href="https://help.rentxx.com/<?php echo $lang; ?>/arendodatelyam/onlain-platezhi"><span class="res_HostPayMethod"></span></a></li>
          <li class="footer-item"><a class="footer-link" href="https://help.rentxx.com/<?php echo $lang; ?>/arendodatelyam/pravila-i-vasha-bezopasnost"><span class="res_RulesAndSafety"></span></a></li>
        </ul>
        <ul class="col">
          <li class="footer-main"><span class="res_Support"></span></li>
          <li class="footer-item"><a class="footer-link" href="#"><span class="res_KnowBase"></span></li></a></li>
          <li class="footer-item"><a class="footer-link" href="#"><span class="res_ReportAbuse"></span></li></a></li>
        </ul>
        <ul class="col">
          <li class="footer-main"><span class="res_ForGuests"></span></li>
          <li class="footer-item"><a class="footer-link" href="https://help.rentxx.com/<?php echo $lang; ?>/gostyam/kak-bronirovat-zhilyo"><span class="res_HowToBook"></span></a></li>
          <li class="footer-item"><a class="footer-link" href="https://help.rentxx.com/<?php echo $lang; ?>/gostyam/metody-oplaty"><span class="res_PayMethods"></span></a></li>
          <li class="footer-item"><a class="footer-link" href="https://help.rentxx.com/<?php echo $lang; ?>/gostyam/pravila-zapolneniya-lichnykh-dannykh"><span class="res_RulesAndSafety"></span></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container_v2">
        <div class="flex-center-between">
          <div class="align-items-center"> 
            <p class="footer-text"><span class="res_CopyrightFooter"></span></p>
            <ul class="footer-bottom__ul">
              <li class="footer-bottom__li"><a class="footer-link" href="#"><span class="res_Privacy"></span></a></li>
              <li class="footer-bottom__li"><a class="footer-link" href="#"><span class="res_Terms"></span></a></li>
              <li class="footer-bottom__li"><a class="footer-link" href="#"><span class="res_Sitemap"></span></a></li>
            </ul>
            <div class="footer__cards"><a class="footer__card" href="#"><img class="footer-card__logo" src="/static/v2/img/visa.svg" alt="visa"></a><a class="footer__card" href="#"><img class="footer-card__logo" src="/static/v2/img/mastercard.svg" alt="mastercard"></a></div>
          </div>
          <div class="align-items-center lng_curr_btn_group"> <a class="align-items-center popupToggle" href="#"><img src="/static/v2/img/language-learning.svg" class="popupToggle" alt="language"><span class="fs-10 c-dark_v2 ml-8 popupToggle res_CurrentLng"></span></a><a class="align-items-center ml-20 popupToggle" href="#"><img src="/static/v2/img/money.svg" class="popupToggle" alt="money"><span class="fs-10 c-dark_v2 ml-8 popupToggle">USD $</span><img class="ml-8 popupToggle" src="/static/v2/img/down-arrow.svg" alt="arrow"></a></div>
        </div>
      </div>
    </div>
  </footer>
  <?php include(HOME . "/views/imports/mob-footer.html"); ?>