<footer class="footer footer_v2">
            <div class="container_v2">
              <div class="footer-top">
                <ul class="col">
                  <li class="footer-main"><span class="res_Company"></span></li>
                  <li class="footer-item"><a class="footer-link" href="#"><span class="res_About"></span></a></li>
                  <li class="footer-item"><a class="footer-link" href="#"><span class="res_Invest"></span></a></li>
                  <li class="footer-item"><a class="footer-link" href="#"><span class="res_Careers"></span></a></li>
                </ul>
                <ul class="col">
                  <li class="footer-main"><span class="res_Host"></span></li>
                  <li class="footer-item"><a class="footer-link" href="#"><span class="res_HostRules"></span></a></li>
                  <li class="footer-item"><a class="footer-link" href="#"><span class="res_HostPayMethod"></span></a></li>
                  <li class="footer-item"><a class="footer-link" href="#">Rules and your safety</a></li>
                </ul>
                <ul class="col">
                  <li class="footer-main">SUPPORT</li>
                  <li class="footer-item"><a class="footer-link" href="#">Knowledge base</a></li>
                  <li class="footer-item"><a class="footer-link" href="#">Report abuse</a></li>
                </ul>
                <ul class="col">
                  <li class="footer-main"><span class="res_ForGuests"></span></li>
                  <li class="footer-item"><a class="footer-link" href="#">How to hose</a></li>
                  <li class="footer-item"><a class="footer-link" href="#"><span class="res_PayMethods"></span></a></li>
                  <li class="footer-item"><a class="footer-link" href="#">Rules and your safety</a></li>
                </ul>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="container_v2">
                <div class="flex-center-between">
                  <div class="align-items-center"> 
                    <p class="footer-text"><span class="res_CopyrightFooter"></span></p>
                    <ul class="footer-bottom__ul">
                      <li class="footer-bottom__li"><a class="footer-link" href="#"><span class="res_Privacy"></span></a></li>
                      <li class="footer-bottom__li"><a class="footer-link" href="#"><span class="res_Terms"></span></a></li>
                      <li class="footer-bottom__li"><a class="footer-link" href="#"><span class="res_Sitemap"></span></a></li>
                    </ul>
                    <div class="footer__cards"><a class="footer__card" href="#"><img class="footer-card__logo" src="/static/v2/img/visa.svg" alt="visa"></a><a class="footer__card" href="#"><img class="footer-card__logo" src="/static/v2/img/mastercard.svg" alt="mastercard"></a></div>
                  </div>
                  <div class="align-items-center"> <a onclick="popupToggle()" class="align-items-center" href="#"><img src="/static/v2/img/language-learning.svg" alt="language"><span class="fs-10 c-dark_v2 ml-8">English</span></a><a onclick="popupToggle()" class="align-items-center ml-20" href="#"><img src="/static/v2/img/money.svg" alt="money"><span class="fs-10 c-dark_v2 ml-8">USD $</span><img class="ml-8" src="/static/v2/img/down-arrow.svg" alt="arrow"></a></div>
                </div>
              </div>
            </div>
          </footer>
          <footer class="footer-mob">
            <div class="d-flex"><a class="footer-mob-item" href="#"><span class="relative">
                  <svg class="svg-sprite-icon icon-search-outline">
                    <use xlink:href="/static/v2/img/sprite/symbol/sprite.svg#search-outline"></use>
                  </svg></span><span>Поиск</span></a><a class="footer-mob-item" href="#"><span class="relative">
                  <svg class="svg-sprite-icon icon-bookmark-outline">
                    <use xlink:href="/static/v2/img/sprite/symbol/sprite.svg#bookmark-outline"></use>
                  </svg></span><span>Избранное</span></a><a class="footer-mob-item" href="#"><span class="relative"><span class="circle">23</span>
                  <svg class="svg-sprite-icon icon-chatbubble-ellipses">
                    <use xlink:href="/static/v2/img/sprite/symbol/sprite.svg#chatbubble-ellipses"></use>
                  </svg></span><span>Сообщения</span></a><a class="footer-mob-item" href="#"><span class="relative"><span class="circle">7</span>
                  <svg class="svg-sprite-icon icon-wallet-outline">
                    <use xlink:href="/static/v2/img/sprite/symbol/sprite.svg#wallet-outline"></use>
                  </svg></span><span>Бронирования</span></a><a class="footer-mob-item" href="#"><span class="relative">
                  <svg class="svg-sprite-icon icon-person-outline">
                    <use xlink:href="/static/v2/img/sprite/symbol/sprite.svg#person-outline"></use>
                  </svg></span><span>Профиль  </span></a></div>
          </footer>