<footer class="footer-mob">
    <div class="d-flex">
        <a class="footer-mob-item" href="/">
            <span class="relative">
                <svg class="svg-sprite-icon icon-search-outline">
                    <use xlink:href="/static/v2/img/sprite/symbol/sprite.svg#search-outline"></use>
                </svg>
            </span>
            <span class="mob_footer_nav_text">Поиск</span>
        </a>
        <a class="footer-mob-item" href="/<?php echo $lang; ?>/cabinet.favorites">
            <span class="relative">
                <svg class="svg-sprite-icon icon-bookmark-outline">
                    <use xlink:href="/static/v2/img/sprite/symbol/sprite.svg#bookmark-outline"></use>
                </svg>
            </span>
            <span class="mob_footer_nav_text">Избранное</span>
        </a>
        <a class="footer-mob-item" href="/<?php echo $lang; ?>/page.terms">
            <span class="relative">
                <!-- <span class="circle">23</span> -->
                <!-- <svg class="svg-sprite-icon icon-chatbubble-ellipses">
            <use xlink:href="/static/v2/img/sprite/symbol/sprite.svg#chatbubble-ellipses"></use>
        </svg> -->
                <span class="add_mob"></span>
            </span>
            </a>
            <a class="footer-mob-item"
            href="/<?php echo $lang; ?>/cabinet.reservstions">
            <span class="relative">
                <!-- <span class="circle">7</span> -->
                <svg class="svg-sprite-icon icon-wallet-outline">
                    <use xlink:href="/static/v2/img/sprite/symbol/sprite.svg#wallet-outline"></use>
                </svg>
            </span>
            <span class="mob_footer_nav_text">Бронирования</span>
        </a>
        <a class="footer-mob-item" href="/<?php echo $lang; ?>/cabinet.profile">
            <span class="relative">
                <svg class="svg-sprite-icon icon-person-outline">
                    <use xlink:href="/static/v2/img/sprite/symbol/sprite.svg#person-outline"></use>
                </svg>
            </span>
            <span class="mob_footer_nav_text">Профиль </span>
        </a>
    </div>
</footer>