
    <nav aria-label="navigation">
        <ul class="pagination xx__mob-pagination">
         <!-- <li class="page-item xx__mob-pagination-arrow">
          <a class="page-prev page-arrow" href="#">
           <span class="xx__mob-pagination-left">Предыдущая</span>
          </a>
         </li>
         <li class="page-item"><a class="page-link active" href="#" onclick="LoadPage(1)">1</a></li>
         <li class="page-item"><a class="page-link" href="#" onclick="LoadPage(2)">2</a></li>
         <li class="page-item"><a class="page-link" href="#">3</a></li>
         <li class="page-item"><a class="page-link" href="#">...</a></li>
         <li class="page-item"><a class="page-link" href="#">10</a></li>
         <li class="page-item xx__mob-pagination-arrow">
            <a class="page-next page-arrow" href="#">
                <span class="xx__mob-pagination-right">Следующая</span>
            </a>
        </li> -->
        </ul>
    </nav>
