<form id="popup-side" class="popup" method="post">
    <div class="flex-center-between">
      <h2 class="popup-title"><span class="res_LangPop"></span></h2>
      <button id="popup-close" class="popup-close popupToggle" type="button"></button>
    </div>
    <ul class="list">
      <li class="list-item"> 
        <label class="align-items-center"> 
          <input class="checkbox" type="radio" name="radio-lang" id="en" checked><span class="check-item"> </span><span class="check-text"><span class="res_English"></span></span>
        </label>
      </li>
      <li class="list-item"> 
        <label class="align-items-center"> 
          <input class="checkbox" type="radio" name="radio-lang" id="ru"><span class="check-item"> </span><span class="check-text"><span class="res_Russian"></span></span>
        </label>
      </li>
    </ul>
    <h2 class="popup-title"><span class="res_CcyPop"></span></h2>
    <ul class="list">
      <li class="list-item"> 
        <label class="align-items-center"> 
          <input class="checkbox" type="radio" name="radio-curr" id="curr2" value="2" checked><span class="check-item"> </span><span class="check-text">USD</span>
        </label>
      </li>
      <li class="list-item"> 
        <label class="align-items-center"> 
          <input class="checkbox" type="radio" name="radio-curr" id="curr4" value="4"><span class="check-item"> </span><span class="check-text">EUR</span>
        </label>
      </li>
    </ul>
    <h2 class="popup-title">Уведомления</h2>
    <ul class="list">
      <li class="list-item"> 
        <label class="d-flex">
          <input class="checkbox" type="checkbox" checked><span class="switch"><span class="switch-circle"></span></span><span class="check-text">Получать уведомления на почту</span>
        </label>
      </li>
    </ul>
    <button class="btnSave btn_v2 popupToggle" id="saveSettings"><span class="res_SaveChanges"></span></button>
  </form>