<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/v2/js/resouceReader.js"></script>
    <link rel="stylesheet" href="/static/css/libs.min.css">
    <title>Document</title>
</head>
<body>
    <div class="your-class">
        <div><img src="/static/v2/img/cities/city.jpg" alt=""></div>
        <div><img src="/static/v2/img/cities/city.jpg" alt=""></div>
        <div><img src="/static/v2/img/cities/city.jpg" alt=""></div>
      </div>

    <script>
      
    </script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/slider.js"></script>
</body>
</html>