
<div class="propety_gallery">
    <div class="back_to_search">
        <button><img src="/static/v2/img/icons8-arrow-32.png" class="back_to_search_icon" alt=""> Назад к
            поиску</button>
    </div>
    <div class="pic_section_1 pic_section">
        <a href="#">
            <img src="/static/v2/img/apartments/apart1.jpg" alt="">
        </a>
    </div>
    <div class="pic_section_2 pic_section">
        <a href="#">
            <img src="/static/v2/img/apartments/apart2.jpg" alt="">
        </a>
        <a href="#">
            <img src="/static/v2/img/apartments/apart3.jpg" alt="">
        </a>
    </div>
    <a href="#"></a>
    <div class="pic_section_3 pic_section">
        <a href="#">
            <img src="/static/v2/img/apartments/apart4.jpg" alt="">
        </a>
        <a href="#">
            <img src="/static/v2/img/apartments/apart5.jpg" alt="">
        </a>
    </div>
</div>
<div class="property_content">
    <div class="property_head">
        <div class="property_head_content">
            <div class="property_card_decription">
                <div class="property_head_card_title">
                    Просторная и современная квартира в центре города
                </div>
                <ul class="property_params">
                    <li class="property_params_item">Площадь 20кв.м. </li>
                    <li class="property_params_item">2 гостя</li>
                    <li class="property_params_item">1 спальня</li>
                    <li class="property_params_item">1 ванная</li>
                    <li class="property_params_item">1/9 этаж</li>
                </ul>
            </div>
            <div class="property_head_btn">
                <button class="share_btn"><img src="/static/v2/img/share.svg" alt=""> Поделиться</button>
                <button class="like_card_btn"><img src="i/static/v2/mg/ic-mod-2.svg" class="bottom-like-icon"
                        alt="">Запомнить</button>
            </div>
        </div>
    </div>
    <div class="property_description">
        <div class="pd_col">
            <div class="bedrooms">
                <div class="bedroom_title property_description_title">
                    Спальные места
                </div>
                <div class="pc_content">
                    <div class="main_bedroom bedroom pc_content_item">
                        <img src="/static/v2/img/double-bed.svg" alt="">
                        <div class="bedroom_text">
                            <div class="pc_content_item_title">
                                Спальня 1
                            </div>
                            <div class="pc_content_item_text">
                                Сдвоенная кровать
                            </div>
                        </div>
                    </div>
                    <div class="additional_bedroom bedroom pc_content_item">
                        <img src="/static/v2/img/single-bed.svg" alt="">
                        <img src="/static/v2/img/sofa.svg" alt="">
                        <div class="bedroom_text">
                            <div class="pc_content_item_title">
                                Спальня 2
                            </div>
                            <div class="pc_content_item_text">
                                Кровать, диван
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="to_remember">
                <div class="to_remember_title property_description_title">
                    Что нужно помнить
                </div>
                <div class="pc_content">
                    <div class="pc_content_item">
                        <img src="/static/v2/img/clock-icon.svg" alt="">
                        <div class="to_remember_item_text">
                            <div class="pc_content_item_title">
                                Прибытие
                            </div>
                            <div class="pc_content_item_text">
                                13:00 - 00:00
                            </div>
                        </div>
                    </div>
                    <div class="pc_content_item">
                        <img src="/static/v2/img/clock-icon.svg" alt="">
                        <div class="to_remember_item_text">
                            <div class="pc_content_item_title">
                                Выезд
                            </div>
                            <div class="pc_content_item_text">
                                11:00
                            </div>
                        </div>
                    </div>
                    <div class="pc_content_item">
                        <div class="to_remember_item_text">
                            <div class="pc_content_item_title">
                                Бесплатная отмена
                            </div>
                            <div class="pc_content_item_text">
                                До 27 Августа. Подробнее
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="facilities">
                    <div class="facilities_title property_description_title">
                        Удобства
                    </div>
                    <div class="pc_content">
                        <div class="pc_content_col">
                            <div class="pc_content_item">
                                <img src="/static/v2/img/wi-fi.svg" alt="">
                                <p>WI-FI</p> 
                            </div>
                            <div class="pc_content_item">
                                <img src="/static/v2/img/wash-machine.svg" alt="">
                                Стиралка
                            </div>
                            <div class="pc_content_item">
                                <img src="/static/v2/img/wi-fi.svg" alt="">
                                <p>WI-FI</p> 
                            </div>
                        </div>
                        <div class="pc_content_col">
                            <div class="pc_content_item">
                                <img src="/static/v2/img/tv.svg" alt="">
                                Телевизор
                            </div>
                            <div class="pc_content_item">
                                <img src="/static/v2/img/kitchen.svg" alt="">
                                Кухонные принадлежности
                            </div>
                            <div class="pc_content_item">
                                <img src="/static/v2/img/tv.svg" alt="">
                                Телевизор
                            </div>
                            
                        </div>
                    </div>
            </div>
            <div class="rules">
                <div class="rules_title property_description_title">
                    Правила дома
                </div>
                <div class="pc_content">
                    <div class="pc_content_col">
                        <div class="pc_content_item">
                            <img src="/static/v2/img/wi-fi.svg" alt="">
                            Не курить
                        </div>
                        <div class="pc_content_item">
                            <img src="/static/v2/img/wash-machine.svg" alt="">
                            Нельзя ходить в туфлях
                        </div>
                        <div class="pc_content_item">
                            <img src="/static/v2/img/wi-fi.svg" alt="">
                            <p>WI-FI</p> 
                        </div>
                    </div>
                    <div class="pc_content_col">
                        <div class="pc_content_item">
                            <img src="/static/v2/img/tv.svg" alt="">
                            Без животных
                        </div>
                        <div class="pc_content_item">
                            <img src="img/kitchen.svg" alt="">
                            Без вечеринок
                        </div>
                        <div class="pc_content_item">
                            <img src="/static/v2/img/tv.svg" alt="">
                            Телевизор
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pd_col">
            <div class="property_reviews">
                <div class="property_description_title">
                    Отзывы - 
                    <div class="review_rating">
                        Превосходно (9.4)
                    </div>
                </div>
                <div class="rv_content">
                    <div class="rv_item">
                        <div class="rv_name">
                            Марина (8.8)
                        </div>
                        <div class="rv_date">
                            Май 2020
                        </div>
                        <div class="rv_text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente iure illum recusandae libero perferendis hic cumque ducimus tempora sed cupiditate. Commodi laboriosam expedita corrupti dolores, facilis tempore dolorum animi beatae!
                        </div>
                    </div>
                    <div class="rv_item">
                        <div class="rv_name">
                            Сидор (9.2)
                        </div>
                        <div class="rv_date">
                            Май 2020
                        </div>
                        <div class="rv_text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ex reprehenderit sint consequuntur tempore officiis, tenetur numquam dicta laborum eos a modi nobis cupiditate eveniet aperiam sequi dolore rem saepe?
                        </div>
                    </div>
                    <div class="rv_item">
                        <div class="rv_name">
                            Ваня (10)
                        </div>
                        <div class="rv_date">
                            Май 2020
                        </div>
                        <div class="rv_text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam labore velit reiciendis sunt quasi minima laborum itaque consectetur magnam in ad ipsa ullam dolor doloremque praesentium soluta, nihil sint veritatis?
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
