<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>RentXx</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=400, initial-scale=1, maximum-scale=1">
      <meta name="google-signin-client_id" content="4781314427-jndem184jtc54idv9p34arnocig6gcrh.apps.googleusercontent.com">
      <link rel="stylesheet" href="/static/css/libs.min.css">
      <link rel="stylesheet" href="/static/css/main_alt.css">
    </head>
    <body>
    <div id="wrapper">
        <div id="wrapper-content">
        </div>
    </div>
    </body>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/libs.min.js"></script>
    <script src="/static/js/jquery.daterangepicker_v3.js"></script>
    <script src="/static/js/common.js"></script>
    <script>
        {{JsLocalizationVars}}
        {{JsLocalizationScript}}
    </script>

</html>