<div class="payment__right">
                    <div class="payment__form">
                        <div class="payment__form-content">
                            
                            <ul class="payment__form-ul">
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-item" id="c_bookings"><a href="c_bookings">Мои Бронирования</a></p>
                                    </div>
                                </li>
                                <li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-item selected_cp_menu" id="c_personalinfo"><a href="/{{lang}}/c_personalinfo">Личные данные</a></p>
                                    </div>
                                </li>
                            <li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-item" id="c_messages"><a href="/{{lang}}/c_messages">Сообщения и нотификации</a></p>   
                                    </div>
                                </li><li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-item" id="c_finances"><a href="c_finances">Финансы и платеи</a></p>
                                    </div>
                                </li><li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-item" id="c_myaccount"><a href="c_myaccount">Управление аккаунтом</a></p>
                                    </div>
                                </li><li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-item" id="c_managelistings"><a href="c_managelistings">Управление квартирами</a></p>
                                    </div>
                                </li><li class="payment__form-li">
                                    <div class="counts">
                                        <p class="counts-item" id="c_reservationrequests"><a href="c_reservationrequests">Запросы на резервацию</a></p>
                                    </div>
                                </li></ul>
                            <a href="#" class="btn btn-red"> test test </a>
                        </div>
                    </div>
                </div>