<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/libs.min.css">
    <link rel="stylesheet" href="/static/css/daterangepicker.min.css">
    <link rel="stylesheet" href="/static/css/main_alt.css">
</head>

<body>
<div id="wrapper">
    <!-- header.html -->
<header class="header header-main">
    <div class="container">
        <div class="header__between">
            <a href="#" class="logo">Xx
                <span class="logo-span">.</span>
            </a>
            <nav class="header-nav">
                <ul class="menu">
                    <li class="menu-item d-md-block">
                        <a href="#" class="link">
                            <span class="add"></span>
                            добавить квартиру
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="link link-sign-in">
                            ВХОД
                        </a>
                    </li>
                </ul>
            </nav>
            <button type="button" class="burger">
                <span class="burger-line burger-top"></span>
                <span class="burger-line burger-bottom"></span>
            </button>
        </div>
    </div>
</header>
    <div id="wrapper-content">
        

        <div class="signin-signup">
            <div class="forms forms_width_800">
            
            <div class="forms-content">
                <form action="/ru/signin" class="signin active" method="POST">
                    <fieldset>
                        
                        <div class="field mt-22">
                        <p class="t">
AGREEMENT TO TERMS
<br /><br />

These Terms and Conditions constitute a legally binding agreement made between you, whether personally or on behalf of an entity (“you”) and [business entity name] (“we,” “us” or “our”), concerning your access to and use of the [website name.com] website as well as any other media form, media channel, mobile website or mobile application related, linked, or otherwise connected thereto (collectively, the “Site”). 

You agree that by accessing the Site, you have read, understood, and agree to be bound by all of these Terms and Conditions. If you do not agree with all of these Terms and Conditions, then you are expressly prohibited from using the Site and you must discontinue use immediately.

Supplemental terms and conditions or documents that may be posted on the Site from time to time are hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to these Terms and Conditions at any time and for any reason. 

We will alert you about any changes by updating the “Last updated” date of these Terms and Conditions, and you waive any right to receive specific notice of each such change. 

<br /><br />


It is your responsibility to periodically review these Terms and Conditions to stay informed of updates. You will be subject to, and will be deemed to have been made aware of and to have accepted, the changes in any revised Terms and Conditions by your continued use of the Site after the date such revised Terms and Conditions are posted. 

The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country. 

Accordingly, those persons who choose to access the Site from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable. 

These terms and conditions were generated by Termly’s Terms and Conditions Generator.
<br />

Option 1: The Site is intended for users who are at least 18 years old. Persons under the age of 18 are not permitted to register for the Site. 

Option 2: [The Site is intended for users who are at least 13 years of age.] All users who are minors in the jurisdiction in which they reside (generally under the age of 18) must have the permission of, and be directly supervised by, their parent or guardian to use the Site. If you are a minor, you must have your parent or guardian read and agree to these Terms and Conditions prior to you using the Site. 


                        </p>
                        
                        <div class="btn-error"></div>
                        </div>
                        <button type="submit" name="MakeLogin" value="1" class="btn btn-submit mt-22" id="sign-in">СОГЛАСИТЬСЯ И ПРОДОЛЖИТЬ</button>
                        
                       
                    </fieldset>
                </form>
                
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-top">
                <ul class="col">
                    <li class="footer-main">{{Company}}</li>
                    <li class="footer-item">
                    <a href="#" class="footer-link">{{About}}</a>
                    </li>
                    <li class="footer-item">
                    <a href="#" class="footer-link">{{Invest}}</a>
                    </li>
                    <li class="footer-item">
                    <a href="#" class="footer-link">{{Careers}}</a>
                    </li>
                </ul>
                <ul class="col">
                    <li class="footer-main">{{Host}}</li>
                    <li class="footer-item">
                    <a href="#" class="footer-link">{{HostRules}}</a>
                    </li>
                    <li class="footer-item">
                    <a href="#" class="footer-link">{{HostPayMethod}}</a>
                    </li>
                    <li class="footer-item">
                    <a href="#" class="footer-link">{{HostCapsa}}</a>
                    </li>
                </ul>
                <ul class="col">
                    <li class="footer-main">{{ForGuests}}</li>
                    <li class="footer-item">
                    <a href="#" class="footer-link">{{BookGuarantee}}</a>
                    </li>
                    <li class="footer-item">
                    <a href="#" class="footer-link">{{PayMethods}}</a>
                    </li>
                </ul>
                <ul class="col">
                    <li class="footer-main">{{Support}}</li>
                    <li class="footer-item">
                    <a href="#" class="footer-link">{{Privacy}}</a>
                    </li>
                    <li class="footer-item">
                    <a href="#" class="footer-link">{{Terms}}</a>
                    </li>
                    <li class="footer-item">
                    <a href="#" class="footer-link">{{Contacts}}</a>
                    </li>
                </ul>
                <ul class="col">
                    <li class="footer-main">{{MobileVersion}}</li>
                    <li class="footer-item">
                        <img src="/static/img/qr-code.svg" alt="mobile application" class="qr_icon">
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom__row">
                    <div class="footer-bottom__first">
                    <p class="footer-text">
                        {{CopyrightFooter}}
                    </p>
                    </div>
                    
                    <div class="footer__row">
                    <a href="#" class="footer__select">
                        UNITED STATES — ENGLISH ($USD)
                        <svg class="footer__select-arrow">
                            <use xlink:href="/static/img/sprite/sprite.svg#arrow-down"></use>
                        </svg>  <use xlink:href="/static/img/sprite/sprite.svg#arrow-down"></use>
                        </svg>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div>
    <div class="popups popup__lang-curr">
        <div class="popup">
            <div class="popup__head">
                <h2 class="popup__head-title">Язык и Валюта</h2>
                <button type="button" class="close"></button>
            </div>
            <div class="popup-content">
                <div class="popup__section">
                    <h4 class="popup__title">Валюта</h4>
                    <div class="popup__row">
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">EUR</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">USD</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">AZN</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">UAH</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">RUB</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">BEL</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">GEO</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="curr" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">EAD</span>
                        </label>
                    </div>
                </div>
                <div class="popup__section">
                    <h4 class="popup__title">Язык</h4>
                    <div class="popup__row">
                        <label class="label-checkbox">
                            <input type="radio" name="lang" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Английский</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="lang" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Французский</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="lang" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Немецкий</span>
                        </label>
                        <label class="label-checkbox">
                            <input type="radio" name="lang" class="checkbox">
                            <span class="check"></span>
                            <span class="check-text">Японский</span>
                        </label>
                    </div>
                </div>
                <div class="popup__bottom">
                    <a href="#" class="btn btn-small">SAVE CHANGES
                        <svg class="arrow">
                            <use xlink:href="/static/img/sprite/sprite.svg#arrow-down"></use>
                        </svg>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

</div>

<script src="/static/js/moment.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.inputmask.bundle.js"></script>
<script src="/static/js/libs.min.js"></script>
<script src="/static/js/common.js"></script>

</body>
</html>